translator:
  #type: google_translate #openai
  type: openai
  openai_api_key: 'sk-xxxxxx'
  base_url: 'https://api.siliconflow.cn/v1'

layout:
  type: 'dit'
  device: 'cuda'

ocr:
  type: 'paddle'
  device: 'cuda'

font:
  type: 'simple'
